<html>
    <head>
			<meta charset="utf-8">
			<title>Camarão Editor</title>
      <link rel="stylesheet" href="../stylesheets/index.css">
    </head>
    <body>
        <div id="editor">// welcome to Camarão Editor</div>
    </body>
		<script src="../lib/ace.js" type="text/javascript" charset="utf-8"></script>
		<script src="../lib/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
		<script src="../lib/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">require('../javascripts/editor.js')</script>
</html>
