<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/codemirror.css">
  </head>
  <body>
    <div id="editor"></div>
  </body>
  <script src="../javascripts/codemirror.js"></script>
  <script src="../lib/potigol.js"></script>
  <script>
    var editor = CodeMirror(document.getElementById("editor"), {
      value: "# Olá :)",
      lineNumbers: true,
      mode: "text/x-potigol"
    });
  </script>
  <!-- <script type="text/javascript" charset="utf-8">require('../javascripts/editor.js')</script> -->
</html>
